body, html {
  margin: 0;
  padding: 0;
  background-color: #bbbfc2 !important;
}

.babyStep1,
.babyStep2,
.babyStep3,
.babyStep4,
.babyStep5,
.babyStep6,
.babyStep7 {
  display: none;
}

.showBS1,
.showBS2,
.showBS3,
.showBS4,
.showBS5,
.showBS6,
.showBS7 {
  background-image: linear-gradient(to right, #ebeced 90%, #d1d5d6);
  cursor: pointer; 
  float: left;
  list-style-type: none;
  margin-right: 70px;
  padding-left: 0;
  text-align: right;
  p {
    margin: 0;
    padding: 0;
    color: #9ba0a4;
    line-height: 60px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
  }
  p:hover {
    background-color: white;
    color: #36abe1;
    font-weight: 400;
  }

  p > img {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.babyStepsNav > img {
  margin: 0;
  padding: 0;
  margin-top: -21px;
  filter: contrast(2);
  -webkit-filter: contrast(2);
  -moz-filter: contrast(2);
  -o-filter: contrast(2);
  -ms-filter: contrast(2);
}


.banner {
  width: 100%;
  margin-bottom: 60px;
}

.bottomShadow {
  width: 100%;
}

.container {
  max-width: 890px;
}

.description{
  margin-left: 29em;
  margin-right: 70px;
  padding-left: 0;
  font-family: Helvetica; 
  font-size: 13px;
  color: #65686f;
  line-height: 18px;
}

.leftShadow {
  margin-left: -15px;
  height: 100%;
  float: left;
}


.rightShadow {
  margin-right: -15px;
  height: 100%;
  float: right;
}

.showBS1:hover ~ .babyStep1 {
  display: block;
}

.showBS2 {
  clear:both;
  margin-top: -25em;
}
.showBS2:hover ~ .babyStep2 {
  display: block;
}

.showBS3 {
  margin-top: -20em;
}

.showBS3:hover ~ .babyStep3 {
  display: block;
}
.showBS4 {
  margin-top: -15em;
}

.showBS4:hover ~ .babyStep4 {
  display: block;
}

.showBS5 {
  margin-top: -10em;
}

.showBS5:hover ~ .babyStep5 {
  display: block;
}

.showBS6 {
  margin-top: -5em;
}

.showBS6:hover ~ .babyStep6 {
  display: block;
}

.showBS7 {
  margin-top: -8px;
  clear: both;
  padding-bottom: 24.2%;
}

.showBS7:hover ~ .babyStep7 {
  display: block;
}

.stepTitle {
  color: #36abe1;
  margin-bottom: 24px;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  padding-bottom: 83.7%;
  background-color: white;

}

